/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


main > .container {
	
 padding: 15px 0;
 
}

.footer {
  background-color: #f5f5f5;
}

.bg-blue {
	background-color: #0b0b28;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.bg-footer {
	background-color: #343a40;
}
code {
  font-size: 80%;
}

 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #334e9d;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fd7e14;
}
