{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
  
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.logo {
    max-width:90px;
}

.footer {
    background-color: #2a2a2a;
    margin-top: 30px;
    color: #fff;
}

table.dataTable {
margin: 20px 0 !important;
}

.btn-a:hover {
    cursor: pointer;
}

.circle {
    background-color:#fff;
    border:1px solid black;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
}

.btn-dropdown {
      background-color:#fff;
      color: black;
      border-color: grey;
}